@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}
body {
    background-color: hsl(185, 41%, 84%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 20px;
}
h1 {
    letter-spacing: 5px;
}
.card {
    display: flex;
    background-color: white;
    width: 80%;
    height: 80%;
    padding: 30px;
    border-radius: 20px;
    gap: 30px;
}
.left {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    gap: 10px;
}
#recipt,
#people {
    display: flex;  
    text-align: right;
    font-size: 20px;
    width: 80%;
    height: 50px;
    background-color: hsl(189, 41%, 97%);
    font-size: 30px;
}
h5 {
    font-weight: normal;
    margin: 20px 5px 0;
}
.buttonContainer {
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.buttonContainer > div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 50px;
    background-color: hsl(183, 100%, 15%);
    border-radius: 6px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.buttonContainer > div:hover {
    transform: scale(1,1.1);
}
div.active {
    background-color: hsl(172, 67%, 45%);
    color: black;
}
#own {
    border-radius: 6px;
    width: 90%;
    border: none;
    font-size: 20px;
    text-align: center;
    color: hsl(185, 41%, 84%);
    background-color: hsl(189, 41%, 97%);
}
.left section {
    margin-top: 30px;
}
.right {
    background-color: hsl(183, 100%, 15%);
    width: 50%;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container {
    display: flex;
    justify-content: space-between;
    height: 30%;
}
.leftCont > h2 {
    color: white;
}
.leftCont > p {
    color: hsl(186, 14%, 43%);
}
.rightCont {
    display: flex;
    font-size: 25px;
    color: hsl(172, 67%, 45%);
}
.buttons {
    height: 70%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 10px;
}
.buttons button {
    padding: 10px;
    border: none;
    color: hsl(186, 14%, 43%);
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-radius: 6px;
    background-color: hsl(184, 14%, 56%);
    font-weight: bold;
}
.buttons button:hover {
    color: black;
    background-color: hsl(172, 67%, 45%);
    border: none;
    cursor: pointer;
}